<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>BookList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
	<div>
		<h1>Kirjat</h1>
		Käyttäjärooli: [[${#httpServletRequest.remoteUser}]]
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn-sm"/>
			</form>
		
	</div>
	
	
    <table class="table table-striped">
		<tr>
		    <th>Kirjailija</th>
		    <th>Kirja</th>
		    <th>Hinta</th>
		    <th>Julkaisuvuosi</th>
		      <th>Luokka</th> 
		</tr> 
		<tr th:each = "book : ${books}">
			<td th:text="${book.author}"></td>
			<td th:text="${book.name}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.category.name}"></td>
			
			<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-success">edit</a></td>  
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Lisää kirja</a>
</body>
</html>